body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.title__image{
  width: 30%;
  height: 30%;
}
.game__options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}
.label {
  padding: 0 5px;
}
.button {
  width: 65px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.logo {
  width: 85px;
}
.message__container {
  height: 50px;
}
.message {
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.results__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  padding: 0;
}

.six__cards {
    width: 60%;
}

.image {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(128, 128, 128, .5);
}

.list__item {
  display: flex;
  margin : 10px;
}

.image__front {
  height: 195px;
  width: 160px;
}

.hidden {
  display: none;
}
.pair {
  border: 2px solid darkblue;
  box-shadow: 0 0 15px rgba(254, 216, 3, 0.5);
}
